:root
{
--primary_color : #4CAF50;
}

body 
{
    margin:0;
}

header 
{
   
    align-items: center;
    height : 6rem; 
    width:100%; 
}

.headerContainer
{
    margin-top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;
}

.hidden 
{
    width:6rem;
}

select
{
   
   font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
   font-weight: 600;
   font-size: 1vw;
   border:none;
   border-radius: 0.6rem;
   height:4vw;/*2rem*/
   background-color: var(--primary_color);
   color: white;
   cursor:pointer;
}

option
{
    background-color: var(--primary_color);
    color:white;
}



h1 {
    font-size: 6vW; 
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 10%;    
}


.presentation {
  height:400px; 
  background-image: url("/pages/test1.jpg");
  background-size: 400px 100%;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center top; 
  justify-items: center;
  align-content: center;
  }


.input
{
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
height: 12%;
width:59%; 
border-radius: 30px;
background-color:#e0e0e0;
margin-top: 13%;
perspective: 1000;
}


.departure,.destination,.dateDeparture,.numberPassenger,.btnSubmit
{
    height:6vh; 
    width:11vw;
    border:none;
}

.departure
{
    border-radius: 30px 0 0 30px;
}

.btnSubmit
{
    border-radius: 0 30px 30px 0;
    background-color: var(--primary_color);
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    cursor:pointer;
}

.btnSubmit:hover 
{
    background-color: #4CAF85;
}

.infoKey 
{
    margin: auto;
    background-color: var(--primary_color);
    color: white;
    width:50%; 
    padding:20px; 
    margin-top: 40px;
    border-radius: 20px;
    perspective: 600px;
    box-shadow: 0 2px rgba(0, 0, 0, 0.05),
    0 10px 15px rgba(0, 0, 0, 0.08) ;
}

.slogant
{
text-align: center;
margin-top: 20px;
}

.titleInfoKey
{
    text-align: center;
    margin-top: 20px;
}

.listKey
{
    text-align: center;
    margin-top: 20px;
    list-style: none;
}


.imgSection 
{
    height: 600px;
    width: 100%; 
    object-fit: contain;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    perspective: 500px;
    box-shadow: 0 2px rgba(0, 0, 0, 0.05),
    0 10px 15px rgba(0, 0, 0, 0.08);
    margin-top: 30px;
}

.imgEnterprise 
{
margin-left: 35px;
box-shadow: 0 2px rgba(0, 0, 0, 0.05),
    0 10px 15px rgba(0, 0, 0, 0.08);
}


.enterpriseInfo
{
    margin-top: 20px;
    display: flex; 
    flex-direction: row;
    justify-content: center;
    align-items: center;
   height: 600px; 
   width:100%;
}

.infoBlock 
{
    perspective: 600px;
    height: 450px;
    width :250px; 
    border-radius: 10px; 
    margin-left: 35px;
    text-align: center;
     box-shadow: 
    0 2px 5px rgba(0, 0, 0, 0.05),
    0 10px 15px rgba(0, 0, 0, 0.08);
  transition: box-shadow 0.3s ease;
}

.infoBlock:hover 
{
     box-shadow: 
    0 4px 10px rgba(0, 0, 0, 0.1),
    0 15px 25px rgba(0, 0, 0, 0.15);
    perspective: 800px;
}



footer 
{
    height : 8rem; 
    width: 100%;
    background-color: black;
    margin-top:20px;
    color:white;
    align-content: end;
}

.infoEcoride 
{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
}

a 
{
    text-decoration: none;
    color: white;
    cursor:pointer;
}

.carpoolingTitle 
{
    text-align: center;
    margin-top: 50px;
}

.carpoolingCard 
{
    height : 250px; 
    width:  600px; 
    margin-top: 40px;
    border: 1px solid black;
    border-radius: 10px;
    margin: auto;
}

.globalBlock
{
    border:1px solid black;
    width: 70%; 
    margin:auto;
    margin-top: 40px;
    box-shadow: 10px 10px 10px 10px;
    border-radius: 20px;
    perspective: 600px;
}

.blockContainer 
{
    border:1px solid black; 
    border-radius: 20px;
    perspective: 600px; 
    margin-top: 40px;
    width: 60%;
    margin:auto;
}

.blockDepartureCity,.blockDestination, .blockDateDeparture,.blockNumberPassenger 
{
    margin-left: 20px; 
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
}