:root
{
--primary_color : #4CAF50;
--secondary_color:#D8CBB5;
--third_color:#BFC1B4;
}

body 
{
    margin:0;
}

header 
{
   
    align-items: center;
    height : 6rem; 
    width:100%; 
    background-color: var(--secondary_color);
}

.headerContainer
{
    margin-top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;
}

.hidden 
{
    width:6rem;
}

select
{
   
   font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
   font-weight: 600;
   font-size: 1vw;
   border:none;
   border-radius: 0.6rem;
   height:4vw;/*2rem*/
   background-color: var(--primary_color);
   color: white;
   cursor:pointer;
}

option
{
    background-color: var(--primary_color);
    color:white;
}



h1 {
    font-size: 6vW; 
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 10%;    
}


.presentation {
  height:400px; 
  background-image: url("/pages/test1.jpg");
  background-size: 400px 100%;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center top; 
  justify-items: center;
  align-content: center;
  }


.input
{
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
height: 12%;
width:59%; 
border-radius: 30px;
background-color:#e0e0e0;
margin-top: 13%;
perspective: 1000;
}


.departure,.destination,.dateDeparture,.btnSubmit
{
    height:6vh; 
    width:14vw;
    border:none;
}

.departure
{
    border-radius: 30px 0 0 30px;
}

.btnSubmit
{
    border-radius: 0 30px 30px 0;
    background-color: var(--primary_color);
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    cursor:pointer;
}

.btnSubmit:hover 
{
    background-color: #4CAF85;
}

.infoKey 
{
    margin: auto;
    background-color: var(--primary_color);
    color: white;
    width:50%; 
    padding:20px; 
    margin-top: 40px;
    border-radius: 20px;
    perspective: 600px;
    box-shadow: 0 2px rgba(0, 0, 0, 0.05),
    0 10px 15px rgba(0, 0, 0, 0.08) ;
}

.slogant
{
text-align: center;
margin-top: 20px;
}

.titleInfoKey
{
    text-align: center;
    margin-top: 20px;
}

.listKey
{
    text-align: center;
    margin-top: 20px;
    list-style: none;
}


.imgSection 
{
    height: 600px;
    width: 100%; 
    object-fit: contain;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    perspective: 500px;
    box-shadow: 0 2px rgba(0, 0, 0, 0.05),
    0 10px 15px rgba(0, 0, 0, 0.08);
    margin-top: 30px;
}

.imgEnterprise 
{
margin-left: 35px;
box-shadow: 0 2px rgba(0, 0, 0, 0.05),
    0 10px 15px rgba(0, 0, 0, 0.08);
}


.enterpriseInfo
{
    margin-top: 20px;
    display: flex; 
    flex-direction: row;
    justify-content: center;
    align-items: center;
   height: 600px; 
   width:100%;
}

.infoBlock 
{
    perspective: 600px;
    height: 450px;
    width :250px; 
    border-radius: 10px; 
    margin-left: 35px;
    text-align: center;
     box-shadow: 
    0 2px 5px rgba(0, 0, 0, 0.05),
    0 10px 15px rgba(0, 0, 0, 0.08);
  transition: box-shadow 0.3s ease;
}

.infoBlock:hover 
{
     box-shadow: 
    0 4px 10px rgba(0, 0, 0, 0.1),
    0 15px 25px rgba(0, 0, 0, 0.15);
    perspective: 800px;
}



footer 
{
    height : 8rem; 
    width: 100%;
    background-color: black;
    margin-top:20px;
    color:white;
    align-content: end;
}

.infoEcoride 
{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
}

a 
{
    text-decoration: none;
    color: white;
    cursor:pointer;
}

.carpoolingTitle 
{
    text-align: center;
    margin-top: 50px;
}

.carpoolingCard 
{
    height : 250px; 
    width:  600px; 
    margin-top: 40px;
    border: 1px solid black;
    border-radius: 10px;
    margin: auto;
}

.globalBlock
{
    border:1px solid black;
    width: 70%; 
    margin:auto;
    margin-top: 40px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    perspective: 600px;
}

.carpoolingContainer
{
height:100%;
width: 100%;
}

.carpoolingSearchBlock 
{
    height:100%; 
    width:100%;
}


.carpoolingSearch 
{
    border: 1px solid black;
    display: flex; 
    flex-direction: row;
    justify-content: space-around;
    width:60%; 
    border-radius: 20px;
    margin: auto;
    margin-top: 30px;
}

.blockContainer1,.blockContainer2
{
    border-radius: 20px;
    perspective: 600px; 
    margin-top: 40px;
    width: 40%;
    margin:auto;
}

.btnParticipate
{
    display:block;
    margin-top: 20px;
      border:none; 
    border-radius: 20px;
    justify-items: center;
    background-color: var(--primary_color);
    color:white; 
    font-weight: 600;
    font-size: 20px; 
    cursor: pointer;
}

.blockDepartureCity,.blockDestination, .blockDateDeparture,.blockNumberPassenger,.blockDepartureHour,.blockFinishHour,.blockPrice,.blockTravelType,.blockImage,.blockPseudo,.blockNote
{
    margin-left: 20px; 
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
}

.blockImage 
{
    position:relative; /*test*/
    object-fit: contain;  
    display:block; 
    margin-top:20px;
}
.blockNote 
{
    
    border: 1px solid black;
}

.filterForm 
{
    display:flex; 
    justify-content: center;
    flex-direction: column;
    width: 16%;
    position:absolute; 
    margin-left: 20px ; 
    margin-top: 40px;
    border-radius: 20px;
    background-color: var(--third_color);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
}

.filterElement 
{
    text-align: center;
    align-content: center;
    font-weight: 400;
    font-family: Arial, Helvetica, sans-serif;
    height: 25px;
}

.inputForm
{
    border:none;
}

.btnForm 
{
    border:none; 
    background-color: var(--primary_color);
    cursor:pointer;
    color:white;
}

input[type="checkbox"]
{
    height: 15px; 
}

.btnDetail
{
    margin-left: 20px;
    margin-bottom:20px;
    border:none; 
    border-radius: 20px;
    justify-items: center;
    background-color: var(--primary_color);
    color:white; 
    font-weight: 600;
    font-size: 20px; 
    cursor: pointer;
}

.carpoolingDetail 
{
    height: 50%;
    width:60%;
    margin: auto;
    margin-top: 40px;
    align-content: center;
    border: 1px solid black;
    border-radius: 10px;
}

.carpoolingDetailContainer 
{
    height:100vh; 
    width:100%;
}

.formConnexion
{
    margin: auto;
    display:flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    border-radius: 20px;
    height:30vh;
    width:60vh; 
    background-color: var(--primary_color);
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

.formConnexion input 
{
    display:inline-block; 
    border:none;  
    margin-top: 10px;
    height: 4vh;
    width:30vh;
}

.formConnexion label 
{
    display: inline-block;
    font-size: 18px;
    margin-top: 20px;
}

.formConnexion button
{
height:3vh; 
width:15vw; 
border:none; 
cursor: pointer;
background-color: var(--third_color);
font-size: 18px;
font-family: Arial, Helvetica, sans-serif;
margin-top: 5px;
border-radius: 5px;
}

.formConnexion button:hover 
{
    background-color: #919e79;
}

.connexContainer 
{
    margin-top: 20px;
    height: 100vh; 
    width:100vw;
    align-content: center;
}


/*formulaire inscription */ 

.formInscription 
{
    margin:auto;
    display:flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    border-radius: 20px;
    height:100vh;
    width:75vw; 
    background-color: var(--primary_color);
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

.formInscription  input 
{
    display:inline-block; 
    border:none;  
    margin-top: 10px;
    height: 4vh;
    width:30vh;
}

.formInscription  label 
{
    display: inline-block;
    font-size: 18px;
    margin-top: 20px;
}

.formInscription  button
{
height:3vh; 
width:15vw; 
border:none; 
cursor: pointer;
background-color: var(--third_color);
font-size: 18px;
font-family: Arial, Helvetica, sans-serif;
border-radius: 5px;
margin-top: 15px;
}

.formInscription  button:hover 
{
    background-color: #919e79;
}

.formInscription select
{
border: 1px solid black; 
border-radius: 10px ;
margin-top: 10px;
font-size: 1.1rem;
}

.buttonBotom 
{
height:20px;
width: 100%;
}

/* inscription du véhicule */

.formInscriptionVehicule 
{
    margin:auto;
    display:flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    border-radius: 20px;
    height:80vh;
    width:85vh; 
    background-color: var(--primary_color);
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

.formInscriptionVehicule  input 
{
    display:inline-block; 
    border:none;  
    margin-top: 10px;
    height: 4vh;
    width:30vh;
}

.formInscriptionVehicule  label 
{
    display: inline-block;
    font-size: 18px;
    margin-top: 20px;
}

.formInscriptionVehicule  button
{
height:3vh; 
width:15vw; 
border:none; 
cursor: pointer;
background-color: var(--third_color);
font-size: 18px;
font-family: Arial, Helvetica, sans-serif;
border-radius: 5px;
margin-top: 25px;
}

.formInscriptionVehicule  button:hover 
{
    background-color: #919e79;
}

.formInscription select
{
border: 1px solid black; 
border-radius: 10px ;
}

/* affichage element profil */ 
.element 
{
    text-align: center;
    border-radius: 20px;
    width: 50vw;
    margin: auto;
    margin-top: 45px;
    background-color: var(--primary_color);
    padding:25px;
    font-family: Arial, Helvetica, sans-serif;
    color:white;
    font-size: 18px;
}

 .affich 
 {
    height:150vh;
    width: 100vw;
    text-align: center;
 }

 .element button 
 {
    cursor: pointer;
    border:none; 
    background-color: var(--third_color);
    height: 4vh;
    width:15vh;
    font-size: 18px;
 }

 .element button:hover 
 {
    background-color: #919e79;
 }

 .element input 
 {
    height: 4vh;
    width:30vh;
    border:none;
    background-color:#e0e0e0;
 }

 .element input:hover 
 {
    background-color: white;
 }

 .btnChangementVehicule 
 {
    text-align: center;
    align-content: center;
    cursor: pointer;
    border:none; 
    background-color: var(--third_color);
    height: 4vh;
    width:35vh;
    font-size: 18px;
    margin-top: 45px;
 }

 .btnChangementVehicule:hover
 {
  background-color: #919e79;
 }

 .mdp,.confirmMdp 
 {
    display: block;
    justify-items: center;
    margin: auto;
    margin-top: 15px;
 }

 .btnValidateMdp 
 {
    margin-top: 15px;
 }
/* page changement vehicule */

.blockModifContainer 
{
    height: 100vh; 
    width:100vw;
}

.modifContainer
{
    border-radius: 20px;
    background-color: var(--primary_color);
    color:white; 
    font-family: Arial, Helvetica, sans-serif;
    width: 60%;
    padding:10px;
    margin: auto;
    justify-items: center;
    text-align: center; 
    font-size: 18px;
    margin-top: 40px;
}

.inputModifVehicule
{
    display:inline-block;
    height: 4vh;
    width:35vh;
    border:none;
    background-color:#e0e0e0;
}

.inputModifVehicule:hover 
{
    background-color: white;
}

.btnModifVehicule 
{
    border: none;
    cursor: pointer;
    height: 4vh;
    width:15vh;
    background-color: var(--third_color);
}

.btnModifVehicule:hover 
{
    background-color: #919e79;
}

.titrePage
{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

.pageContainer
{
height: 100vh;
width: 100vw;
display: flex;
justify-content: center;
}

.inputCovoiturage 
{
    display: block;
    margin-top: 15px;
    cursor: pointer;
    height: 4vh;
    width:35vh;
    border: none;
    background-color:#e0e0e0;
}

.inputCovoiturage:hover
{
    background-color: white;
}

label
{
margin-top: 15px;
}

.containerAjoutCo 
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
     background-color: var(--primary_color);
     width: 50%;
     height: 70%;
     color:white;
     font-size: 18px;
     font-family: Arial, Helvetica, sans-serif;
     border-radius: 20px;
}

.btnValidateCovoiturage 
{
    border:none; 
    margin-top: 20px;
    font-size: 18px;
    height: 4vh;
    width:15vh;
    background-color: var(--third_color);
    cursor: pointer;
}

.btnValidateCovoiturage:hover
{
background-color:#919e79 ;
}